/* src/MyComponents/AboutUs.css */
.about-us {
    padding: 0px;
    max-width: auto;
    margin: 0 50px;
    

  }
  
  .breadcrumb {
    margin-bottom: 20px;
  }
  
  .breadcrumb a {
    text-decoration: none;
    color: #6a4bff; /* Purple color */
  }
  
  .breadcrumb a:hover {
    text-decoration: underline;
  }
  
  .about-us h1 {
    padding-top: 2%;
    font-size: 40px;
    margin-bottom: 30px;
    margin-left: 200px;
    font-weight: bolder;
  }
  
  .about-us p {
    font-size: 23px;
    margin-bottom: 50px;
    margin-left: 200px;
    line-height: 1.3;
  }
  
  .image-gallery {
    display: flex;
    gap: 50px;
    margin-left: 30px;
    justify-content: center;
  }
  
  .image-gallery img {
    width: 300px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .home-button-container {
    text-align: left;
    margin-top: 30px;
  }
  
  .home-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #6a4bff; /* Purple color */
    border-radius: 8px;
    text-align: left;
    justify-content: flex-start;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .home-button:hover {
    background-color: #5a3fdd;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }
  