/* src/MyComponents/AboutUs.css */

.about-us {
  padding: 20px;
  max-width: 1200px; /* Set a reasonable max-width */
  margin: 0 auto; /* Center the content */
  border-radius: 10px; /* Rounded corners */

}

.breadcrumb {
  margin-bottom: 20px;
}

.breadcrumb a {
  text-decoration: none;
  color: #6a4bff; /* Purple color */
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.about-us h1 {
  padding-top: 2%;
  font-size: 40px;
  margin-bottom: 30px;
  text-align: center; /* Center the title */
  font-weight: bolder;
}

.about-us p {
  font-size: 23px;
  margin-bottom: 50px;
  text-align: center; /* Center the paragraph */
  line-height: 1.5; /* Increase line height for better readability */
}

.image-gallery {
  display: flex;
  flex-wrap: wrap; /* Allow images to wrap */
  gap: 20px;
  justify-content: center;
  margin: 20px 0; /* Add some margin for spacing */
}

.image-gallery img {
  width: 100%;
  max-width: 300px; /* Ensure images are responsive */
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home-button-container {
  text-align: center;
  margin-top: 30px;
}

.home-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: #6a4bff; /* Purple color */
  border-radius: 8px;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.home-button:hover {
  background-color: #5a3fdd;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .about-us h1 {
    padding-top: 15%;
      font-size: 32px;
  }

  .about-us p {
      font-size: 20px;
  }

  .image-gallery img {
      max-width: 100%;
  }

  .home-button {
      width: 22%;
      text-align: center;
  }
}
